body{
  font-family: 'Roboto Slab', serif;
  margin: 0;
}
.hero-section{
  background: url(../img/background-image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  
}

.nav-area{
  display: flex;
  /* background: blanchedalmond; */
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.logo-area{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-area{
  width: 50%;
}
.menu-area ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-area li{
  list-style: none;
}
.menu-area li a{
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
}
.content-area{
  padding: 120px 50px;
}

.content-area h2{
  font-size: 50px;

}
.content-area h3{
  font-size: 30px;
  margin-top: 0;
}
.btn{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 30px;
  background: black;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  
}



.about-section{
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items:center;
  background-color: rgb(250, 250, 250);
}
.about-section .item{
  width: 600px;
}
.about-section .item img{
  width: 90%;
  /* margin-top: 60px; */
}
.myinformation{
  padding: 30px 50px;
  margin-top: 50px;
  border: 1px solid blanchedalmond;
  box-shadow: 0px 0px 20px gray;
  border-radius: 3px;
  background: #fff;
}


.skill-section{
  min-height: 700px;
  /* background: red; */
}
.skill-section > h2{
  margin-top: 20px;
  font-size: 40px;
}
.main-section{
  display: flex;
  justify-content: space-evenly;
}
.main-section .left-section, .right-section {
  width: 600px;
}
.skill-section li{
  list-style: none;
  margin: 30px 0;
}

.bar {
  display: block;
  background: white;
  /* border: 1px solid black; */
  height: 5px;
  overflow: hidden;
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 10px gray;
}
.bar span{
  float: left;
  background: #000;
  height: 5px;

}
.html{
  width: 90%;
}
.css{
  width: 65%;
}
.js{
  width: 50%;
}
.jq{
  width: 60%;
}
.react{
  width: 10%;
}



.services-section{
  min-height: 700px;
}
.services-section > h2{
  text-align: center;
  font-size: 40px;
}

.main-content{
  display: flex;
  justify-content: space-around;
}

.item{
  width: 400px;
}



.contact-form-section{
  min-height: 700px;
  margin-top: -150px;
  background: #fafafa;
}
.contact-form-section h2{
  text-align: center;
  font-size: 40px;
}
.contact-form{
  max-width: 600px;
  margin: auto;

}

.item2{
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  padding: 10px 20px;
}


footer p{
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}